<div id="head">
<h1>{{#title}}{{name}}{{/title}}</h1>
</div>
<div id="nav-sidebar">
  <ul>
    <li>Browse Recipies</li>
    <li>Search Recipies</li>
    <li>Share a Recipe</li>
  </ul>
</div>
<div id="content">
  <div class="view" id="chuppertime">
    <h2>Words</h2>
  </div>
  <div class="view hide" id="browserecipe">
    <h2>Stuff</h2>
  </div>
  <div class="view hide" id="searchrecipe">
    <h2>Things</h2>
  </div>
  <div class="view hide" id="postrecipe">
    <h2>Shit</h2>
  </div>
</div>
<!--Handlebars.registerHelper("title", function(fn) {
  $('h1').html(fn(this));
  return ""; });-->

