/* .card { 
  display: inline-block;

} */

body {
  width: auto;
  height: auto;
  background-color: rosybrown;
}

#head {
  background-color: darkgreen;
  color: lightgray;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  height: 10%;
}

h3 {
  font-size: 20px;
  font-family: 'Yellowtail', cursive;
}

h2 {
  font-size: 40px;

  -webkit-text-fill-color:  rgb(18, 104, 145); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;


  font-family: 'Yellowtail', cursive;
}

h1 {
  font-size: 60px;
  -webkit-text-fill-color: #e05757;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(122, 122, 122);
  font-family: 'Yellowtail', cursive;
}

#navbar  {
  background-color: greenyellow;
  font-family: 'Yellowtail', cursive;
  font-size: 20px;
  height: 10%;
  width: 100%;

} 

 #main-content {

  height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: lavender;

} 



.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  background-color: lavender;
  padding: 10px;
}

.hide {
  display: none;
}

.nav-item {
  width: 300px;
  text-align: center;

}

#quicksearch {
  background-color: greenyellow;
  font-family: 'Yellowtail', cursive;
  color: #4285F4;
}

#images {
  text-align: center;
}

img
 {
    width: auto; /*adjust this value to your needs */
     max-width: 20%;
    height: auto;
    max-height: 20%;
    display: inline-block;
 }

 #instruction-input {
   height: 100px
 }

#ingredient-input {
  height: 100px;
} 