/* .card { 
  display: inline-block;

} */

body {
  width: auto;
  height: auto;
  /* background-color: rosybrown; */
}

#head {
  background-color: #C3D4BE;
  color: darkgreen;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  height: 10%;
  margin:10px auto;
}

h3 {
  font-size: 25px;
  font-family: 'Yellowtail', cursive;
}

h2 {
  font-size: 30px;

  -webkit-text-fill-color:  rgb(18, 104, 145); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: sans-serif;

  /* font-family: 'Yellowtail', cursive; */
}

h1 {
  font-size: 60px;
  -webkit-text-fill-color: darkgreen;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(122, 122, 122);
  font-family: 'Yellowtail', cursive;
}

#navbar  {
  background-color: #C3D4BE;
  font-family: 'Yellowtail', cursive;
  font-size: 22px;
  height: 10%;
  width: 100%;
  margin: 0px auto;
  color: darkgreen;
}

#scroll-navbar{
  overflow: hidden;
  z-index: 999999 !important;
}
#main-content {
  z-index: 1 !important;
  height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #C3D4BE;
  margin-top: 10px;
  padding-top: 70px;

}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + #main-content {
  padding-top: 60px;
}
.navbar-primary{
  color:darkgreen;
}
 /* #main-content {

  height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #C3D4BE;
  margin-top: 10px;
  padding-top: 70px;

}  */

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #C3D4BE;
  padding: 10px;
}

.hide {
  display: none;
}

.nav-item {
  width: 300px;
  text-align: center;
  color:darkgreen;

}

#quicksearch {
  background-color: #C3D4BE;
  font-family: 'Yellowtail', cursive;
  color: darkgreen;
}

#images {
  text-align: center;
}

img
 {
    width: auto; /*adjust this value to your needs */
     max-width: 20%;
    height: auto;
    max-height: 20%;
    display: inline-block;
    margin: 10px;
 }

 #instruction-input {
   height: 100px
 }

#ingredient-input {
  height: 100px;
} 
#recipeSubmit,
#loginBtn,
#add-user-btn,
#advSearchBtn{
  background-color: darkgreen;
  color: white;
  border-color: darkgreen;
}
#addIngredient{
  background-color:white;
  color: darkgreen;
  border-color: darkgreen;
  border-width: 2px;
}
#newUser{
  background-color:#C3D4BE;
  padding-right: 30px;
  padding-left: 30px;
}